.blogtitle{
  width: 60%;
  padding-top: 100px;
  padding-bottom: 20px;
  margin-left: 200px;


}

.blogpost{
  width: 60%;
  padding-bottom: 20px;
  margin-left: 200px;

}

.Btn{
  margin-left: 200px;
}
